/* Inserta tu codigo CSS aqui */
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.row{
	margin:0;
}
header{
	border:none;
}
a:hover{
	text-decoration: none;
}
section ,.context {
	text-align: center;
}
hr{
	width: 40px;
	margin: 0 auto;
	height: 2px;
	border:0;
}
aside{
	background: url("../img/header.jpg") no-repeat;
	background-position: 0px -150px;
	background-size: cover;
	width: 100%;	
}
.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:focus, 
.navbar-inverse .navbar-nav>.active>a:hover, 
.navbar-inverse {
	background-color: transparent;
}
.cambio, hr{
	background-color: #F2755A;
}

.navbar-inverse .navbar-brand,  
.navbar-inverse .navbar-nav>li>a, 
.navbar-inverse .navbar-toggle:focus, 
.navbar-inverse .navbar-toggle:hover, 
.navbar-inverse .navbar-collapse, 
.navbar-inverse .navbar-form{
	color:white;
	background-color: transparent;
}
.navbar-right {
	margin-right:0px;
}
.navbar-inverse .navbar-toggle .icon-bar {
	background-color: gray;
}
.navbar-inverse .navbar-toggle {
	border-color: gray;
}
.navbar-inverse .navbar-nav>li>a:hover ,
.navegador p:hover, 
.context p:nth-child(1), 
.github a, 
.context a{
	font-weight: bold;
}
.navegador p{
	margin:0;
}
.navbar-inverse {
	border: 0;
} 
.context{
	padding: 15% 25% 16%; 
	color: white;
}
.context p:nth-child(1){
	font-size: 3.1em;
	line-height: 1; 
	padding-bottom: 2%;
}
.context p:nth-child(3){
	font-size: 0.85em;
	padding:4% 8%; 
}
.context a{
	color:white;
	padding:2%;
	font-size: 0.8em;
	background-color: #F05F40;
	border-radius:50px;
}
#aboutme {
	background-color: #F05F40;
	color:white;
}
#aboutme .container .row{
	padding: 5% 18.5%;
}
#aboutme .container .row hr{
	background-color: white;
}
#aboutme .container .row p:nth-child(1), 
#services .container .row:nth-child(1), 
#contactame p:nth-child(1){
	font-size: 1.56em;	
}
#aboutme .container .row p:nth-child(3){
	font-size: 0.9em;
	padding:2% 8.5%;
	
}
#services .container .row:nth-child(1) {
	padding:5% 18% 2%;
}
#services .container .row:nth-child(2) {
	padding:0% 10% 2%;
}
#services i {
	color:#F05F40;
	font-size:2.3em;	
}
#services .col-md-3 p:nth-child(2) {
	font-size: 1.3em;
	padding-top: 10%;
}
#services .col-md-3 p:nth-child(3) {
	color:#6F707E;
	font-size: 0.9em;
}

#photos img{
	width: 100%;
}
#photos .row , 
#photos .col-md-4{
	padding: 0%;
	margin: 0%;
}

.github{
	background-color: #222222;
	padding: 2% 0% 4%;
}
.github p{
	color:white;
	font-size:1.6em;
	padding-bottom: 1%;
}
.github a{
	color:#222222;
	font-size: 0.8em;
	background: white;
	padding:1% 2%;
	border-radius: 50px;
}
.opacity {
	background-color: none;
}
.ph-porta{
	opacity: none;
}
#contactame p:nth-child(3){
	color:#6F707E;
	font-size: 1em;	
	padding: 2% 4%;

}
#contactame .container{
	padding: 2% 20% 7%;
	font-size: 0.9em;	
}
#contactame .col-md-6 i{
	font-size: 3em;
}

#contactame .row .col-md-6:nth-child(2) p{
	color:#F05F40;

}

@media screen and (min-width: 100px) and (max-width:900px){

	aside{
		background-size:120% 100%;
		background-position: 0px 20px;
		
	}
	aside .context{
		padding: 28% 2% ;

	}	
	aside .context p:nth-child(1){
		font-size: 1.7em;
	}
	aside .context p:nth-child(2){
		font-size: 2.5em;
	}
	.navbar-header {
		background: white;
	}
	.navbar-inverse {
		border-bottom: 2px solid #F05F40;
	} 
	.navbar-inverse .navbar-brand, 
	.navbar-inverse .navbar-brand:hover	{
		color: #F05F40;
	}
	.navbar-inverse .navbar-collapse, 
	.navbar-inverse .navbar-form {
		background-color: #F05F40;
		color: white;
	}
	.context p:nth-child(3) {
		font-size: 0.75em;
		padding: 5% 0% 10%;
		color: rgba(255,255,255,0.7);
	}
	.context a {
		padding: 3% 6%;
		font-size: 0.6em;
	}
	#aboutme .container .row {
		padding: 18% 0%;	
	}
	#aboutme .container .row p:nth-child(3) {
		font-size: 0.75em;
		padding: 5% 0%;
		color: rgba(255,255,255,0.7);
	}
	#services .container .row:nth-child(1) {
		padding: 18% 18% 2%;
	}
	#services .container .row:nth-child(2) {
		padding: 15% 0% ;
	}
	#services .col-md-3 p:nth-child(2) {
		font-size: 1.1em;
	}
	#services .col-md-3 p:nth-child(3) {
		font-size: 0.8em;
	}	
	.opacity {
		background-color: rgba(240, 95, 64,0.9);
	}
	.ph-porta{
		position: relative;
		opacity: 0.1;
	}
	.text{
		position: absolute;
		width: 100%;	
		top: 50%;
		font-size: 1.7rem;
		transform: translateY(-50%);
		color:white;
	}

	.github{
		padding: 10% 4%;
	}
	.github p{
		font-size: 1.5em;
	}
	.github a{
		font-size: 0.7em;
		padding: 3% 6%;
	}
	#contactame .container {
		padding: 17% 1%;
		font-size: 0.8em;
	}			


}
